@import '../../../assets/styles/variables.scss';

.sidebarLg {
  // Structure
  min-width: 48px;
  // border-right: 1px solid #00000020;
  align-content: space-between;
  // Visibility
  overflow-y: auto;
  overflow-x: hidden;
  backdrop-filter: blur(5px);
  // Animations
  transition: width 0.5s ease-in-out;
  // CSS Grid
  grid-area: sidebarLg;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    'links'
    'socials';
}

.links {
  grid-area: links;
  white-space: nowrap;
  text-overflow: clip;
  transition: width 0.5s ease-in-out;

  a {
    padding-left: 12px;
  }
}

.socials {
  grid-area: socials;
  text-align: center;
  margin-bottom: 20px;
}