// Core
@import 'spartan/custom/functions';
@import 'spartan/custom/variables';
@import 'spartan/custom/mixins';

// Custom components
@import 'spartan/custom/reboot.scss';
@import 'spartan/custom/utilities.scss';
@import 'spartan/custom/alerts.scss';
@import 'spartan/custom/badge.scss';
@import 'spartan/custom/buttons.scss';
@import 'spartan/custom/close.scss';
@import 'spartan/custom/cursors.scss';
@import 'spartan/custom/floating-labels.scss';
@import 'spartan/custom/footer.scss';
@import 'spartan/custom/form-control.scss';
// @import 'spartan/custom/form-check.scss';
@import 'spartan/custom/icons.scss';
@import 'spartan/custom/images.scss';
@import 'spartan/custom/input-group.scss';
@import 'spartan/custom/modal.scss';
@import 'spartan/custom/nav.scss';
@import 'spartan/custom/navbar.scss';
@import 'spartan/custom/offcanvas.scss';
@import 'spartan/custom/popover.scss';
@import 'spartan/custom/progress.scss';
@import 'spartan/custom/toasts.scss';
@import 'spartan/custom/type.scss';
@import 'spartan/custom/tables';
@import 'spartan/custom/checkboxes-radio';
@import 'spartan/custom/sidebar-and-main-panel.scss';
@import 'spartan/custom/misc.scss';
@import 'spartan/custom/tooltip.scss';
@import 'spartan/custom/loader.scss';
@import 'spartan/custom/card.scss';
@import 'spartan/custom/accordion.scss';

//Vendor / Plugins
@import 'spartan/custom/vendor/plugin-sweetalert2.scss';

// light mode
@import 'spartan/custom/white-content.scss';

// Tiles
@import 'spartan/custom/card';
@import 'spartan/custom/cards/card-chart';
@import 'spartan/custom/cards/card-animation-on-hover';
@import 'spartan/custom/cards/card-collapse';
@import 'spartan/custom/cards/card-lock';
@import 'spartan/custom/cards/card-pricing';
@import 'spartan/custom/cards/card-plain';
@import 'spartan/custom/cards/card-stats';
@import 'spartan/custom/cards/card-subcategories';

// React Differences
@import 'spartan/react/react-differences';
