@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.navbar {
  grid-area: navbar;
  z-index: $zindex-sticky;
  display: flex;
  justify-content: space-between;
  // backdrop-filter: blur(5px);
  // box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.205);
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

.hammy {
  align-self: center;
}

.brand {
  margin-left: 10px;
  display: inline-block;
}

@media only screen and (max-width: 358px) {
  .brand {
    display: none;
  }
}

.buttons {
  height: 100%;
  margin: auto 10px auto auto;
  display: flex;
}
