@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.headerBtn {
  align-self: center;
  border: solid 1px #2d3848;
  border-radius: 5px;
  padding: 3px 7px;
  font-weight: 500;
  font-size: 15px;
}

.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 10px;
  overflow: hidden;
}

@media only screen and (max-width: 1023px) {
  .navbar {
    padding-left: 20px;
  }
}

.hammy {
  align-self: center;
}

.brand {
  margin-left: 10px;
  display: inline-block;
}

@media only screen and (max-width: 358px) {
  .brand {
    display: none;
  }
}

.buttons {
  height: 100%;
  margin: auto 10px auto auto;
  display: flex;
}
