.poolItem {
  min-height: 270px;
  max-width: 400px;
  margin: 10px auto;
}

.poolHeader {
  overflow: hidden;
  overflow-wrap: normal;
}

.synthItem {
  min-height: 250px;
  max-width: 400px;
  margin: 10px auto;
}
