.flip {
  animation: flip-icon 1s ease-in-out infinite;
  padding: 20px;
  margin: auto;
}

@keyframes flip-icon {
  0% {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari & Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
    -ms-transform: rotateY(180deg); /* Internet Explorer */
    -o-transform: rotateY(180deg); /* Opera */
  }
  100% {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg); /* Safari & Chrome */
    -moz-transform: rotateY(0deg); /* Firefox */
    -ms-transform: rotateY(0deg); /* Internet Explorer */
    -o-transform: rotateY(0deg); /* Opera */
  }
}
