.spartan-icons {
  display: inline-block;
  font: normal normal normal 1em/1 'Nucleo';
  vertical-align: middle;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-button {
  display: inline-block;
  width: 24px;
  margin-bottom: -5px;
  height: 24px;
  background-size: 24px auto;
  background-repeat: no-repeat;
}

.icon-new {
  display: inline-block;
  width: 40px;
  margin-bottom: -5px;
  height: 40px;
  background-size: 40px auto;
  background-repeat: no-repeat;
}

.icon-search-bar {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px auto;
  background-repeat: no-repeat;
}

.icon-mini {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: 15px auto;
  background-repeat: no-repeat;
}

.icon-extra-small {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: 18px auto;
  background-repeat: no-repeat;
}

.icon-swap-size {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-size: 22px auto;
  background-repeat: no-repeat;
}

.icon-small {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px auto;
  background-repeat: no-repeat;
}

.icon-medium {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: 32px auto;
  background-repeat: no-repeat;
}

.icon-medium-1 {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 40px auto;
  background-repeat: no-repeat;
}

.icon-large {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-size: 64px auto;
  background-repeat: no-repeat;
}