.accordion-container {
    width: 100%;
}

.app-container {
    margin: 20px;
}

.active,
.inactive {
    margin-bottom: 5px;
}

.active .folding-pannel {
    transition: all 0.3s ease-in-out;
    height: 42px;
}

.card {
    cursor: pointer;
}

.inactive .folding-pannel {
    transform: perspective(0px) rotateX(90deg);
    transition: all 0.3s ease-in-out;
    height: 0;
}


.noUi-horizontal .noUi-handle {
    border-radius: 50%;
    background-color: #A80005;
    box-shadow: 0 1px 13px 0 rgb(0 0 0 / 20%);
    height: 15px;
    width: 15px;
    cursor: pointer;
    margin-left: -10px;
    margin-top: -7px;
}

.noUi-connect {
    background: #A80005;
    border-radius: 3px;
    transition: background 450ms;

}


.noUi-horizontal {
    height: 8px;
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    top: 2px;

}

#root > div > div.main-panel.ps.ps--active-y > nav > div > div.collapse.navbar-collapse > ul > div.d-inline-block.dropdown > button {
    background-color: #fc5d50;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar .btn {
    margin: 0 5px 0 10px;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

.btn {
    cursor: pointer;
}

.dropdown-item.active, .dropdown-item:active {
    color: #ffffff;
    text-decoration: none;
    background-color: #403743;
}

.btn-danger {
    color: #aacdff;
    background-color: #605e68;
    border-color: #605e68;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.custom-select {
    color: white;
    border-radius: 12px;
    border-color: #403743;

}

.custom-select:focus {
    border-color: #403743;
}

/* .custom-select:after {
    position: absolute;
    content: "";
    bottom: 30px;
    right: 25px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
} */


.form-control {

    border-color: #2B222E;

}


.input-group-append {

    border-color: #2B222E;

}


.input-group-text {

    border-color: #2B222E;

}


.input-group-prepend {
    border-color: #2B222E;

}

.input-group {
    background: #25212D;
    border-radius: 12px;
}

.price-notificaiton {
    align-items: flex-start;
    display: flex;
    width: 263px;


}


.price-notificaiton:hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
}

.price-notificaiton:active {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transform: translateY(1px);
    -webkit-transform: translateY(1px);
}


.overlap-group {
    align-items: center;
    background-color: var(--ship-gray);
    border-radius: 12px;
    display: flex;
    height: 40px;
    min-width: 250px;
    padding: 0 16px;
}

.wallet {
    height: 20px;
    letter-spacing: 0.00px;
    line-height: 20px;
    min-height: 20px;
    min-width: 131px;
    white-space: nowrap;
}

.wallet-text {
    color: white;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

:root {
    --ship-gray: rgba(63, 57, 75, 1);
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.adjustable-primary-medium {
    align-items: flex-start;
    background-color: var(--scarlet);
    border-radius: 8px;
    display: flex;
    height: 40px;
    overflow: hidden;
    padding: 8px 14px;
    min-width: 120px;
}

.wallet-price {
    align-self: center;
    letter-spacing: 0.00px;
    line-height: 20px;
    margin-left: -25px;
    min-height: 20px;
    min-width: 38px;
    white-space: nowrap;
}

.frame {
    background-image: url(../../assets/img/logo.svg);
    background-size: 100% 100%;
    height: 24px;
    width: 24px;
}

.frame-1 {
    align-items: flex-start;
    display: flex;
    width: 24px;
}

:root {
    --scarlet: rgba(251, 39, 21, 1);
}


.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}


.text-title {
    font-family: Kreon;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    font-feature-settings: 'liga' off;

    /* White */

    color: #FFFFFF;

}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media screen and (min-width: 1200px) {
    .sidebar {
        margin-top: 5px;
        margin-left: -2px;
        width: 10%;
        height: 100%;

    }
}

@media (min-width: 992px) {
    .sidebar-mini .sidebar:hover {
        width: 10%;
    }

}


.dot-burn {
    height: 8px;
    width: 8px;
    background-color: #FB2715;
    border-radius: 50%;
    display: inline-block;
}

.dot-bond {
    height: 8px;
    width: 8px;
    background-color: #F5BC17;
    border-radius: 50%;
    display: inline-block;
}

.dot-emission {
    height: 8px;
    width: 8px;
    background-color: #AACDFF;
    border-radius: 50%;
    display: inline-block;
}


.input-pane {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;

}


.balance {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: #A5ADAF;
}


.select-box {
    color: white;
    border-radius: 12px;
    border-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;

}


.form-control {
    color: white;
    border-radius: 12px;
    border-color: transparent;
    z-index: 1;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #25212d;
    color: #ffffff;
    cursor: not-allowed;
}


* .form-group:not(.has-danger):not(.has-success) .form-control:focus, * .input-group-focus:not(.has-danger):not(.has-success) .form-control:focus, .login-page .form-group:not(.has-danger):not(.has-success) .form-control:focus, .login-page .input-group-focus:not(.has-danger):not(.has-success) .form-control:focus, .card-login.card-white .form-group:not(.has-danger):not(.has-success) .form-control:focus, .card-login.card-white .input-group-focus:not(.has-danger):not(.has-success) .form-control:focus {
    border-color: #25212d;

}


.output-card-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    font-feature-settings: 'liga' off;
    color: #A5ADAF;
}


/*-------------------------------------------------*/
/*Mobile small I5*/

@media (max-width: 568px) {


    .amount {
        font-size: 14px;
    }

    .output-card {
        font-size: 14px;
    }


    .output-card-description {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 20px;
        font-feature-settings: 'liga' off;
        color: #A5ADAF;
    }


    .navbar {
        width: 100%;
        z-index: 1050;
        background: black;
    }


    .navbar-toggler {
        margin-left: 20px;
    }


    .subtitle-amount {
        font-size: 14px;
    }

    .nav-item {
        font-size: 12px;
        margin: -20px;
    }

    .active nav-link {
        width: 200px;
    }

    .form-control {
        color: white;
        border-radius: 12px;
        border-color: transparent;
        z-index: 1;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        font-family: Roboto, serif;
        font-weight: bold;
    }

    .select-box {
        color: white;
        border-radius: 12px;
        border-color: transparent;
        font-size: 12px;
        font-family: Roboto, serif;
        font-weight: bold;
        margin-right: -18px;

    }


    .nav-tabs-custom {
        border-bottom: 0px solid #495057;
    }

    .nav-tabs-custom .nav-item {
        position: relative;
        color: #495057;
    }

    .nav-tabs-custom .nav-item .nav-link {
        border: none;
    }

    .nav-tabs-custom .nav-item .nav-link::after {
        content: "";
        background: #a80005;
        height: 3px;
        position: absolute;
        width: 35%;
        margin-left: -20px;
        margin-bottom: 10px;
        left: 45px;
        bottom: -1px;
        transition: all 250ms ease 0s;
    }

    .nav-tabs-custom .nav-item .nav-link.active:after {
        transform: scale(1);
    }


}


/*Mobile medium*/

@media (min-width: 544px) and (max-width: 768px) {


    .output-card {
        font-size: 14px;
    }

    .form-control {
        color: white;
        border-radius: 12px;
        border-color: transparent;
        z-index: 1;
        width: 80px;
        margin-left: -20px;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        font-family: Roboto, serif;
        font-weight: bold;
    }

    .select-box {
        color: white;
        border-radius: 14px;
        border-color: transparent;
        font-size: 10px;
        font-family: Roboto, serif;
        font-weight: bold;

    }

    .nav-tabs-custom {
        border-bottom: 0px solid #495057;
    }

    .nav-tabs-custom .nav-item {
        position: relative;
        color: #495057;
    }

    .nav-tabs-custom .nav-item .nav-link {
        border: none;
    }

    .nav-tabs-custom .nav-item .nav-link::after {
        content: "";
        background: #a80005;
        height: 4px;
        position: absolute;
        width: 20%;
        left: 20px;
        bottom: -1px;
        transition: all 250ms ease 0s;
        transform: scale(0);
    }

    .nav-tabs-custom .nav-item .nav-link.active {
        color: #a80005;
    }

    .nav-tabs-custom .nav-item .nav-link.active:after {
        transform: scale(1);
    }


}


#root > div > div.main-panel > div > div:nth-child(3) > div.col-md-6 > div > div:nth-child(1) > div.col-md-2 > div.d-block.d-sm-none.card-body.text-center > button
{
    z-index: 9999;
}
