.accordion-container {
    width: 100%;
}

.app-container {
    margin: 20px;
}

.active,
.inactive {
    margin-bottom: 5px;
}

.active .folding-pannel {
    transition: all 0.3s ease-in-out;
    height: 42px;
}

.card {
    cursor: pointer;
}

.inactive .folding-pannel {
    transform: perspective(0px) rotateX(90deg);
    transition: all 0.3s ease-in-out;
    height: 0;
}


.noUi-horizontal .noUi-handle {
    border-radius: 50%;
    background-color: #fb2715;
    box-shadow: 0 1px 13px 0 rgb(0 0 0 / 20%);
    height: 15px;
    width: 15px;
    cursor: pointer;
    margin-left: -10px;
    margin-top: -7px;
}

.noUi-connect {
    background: #fb2715;
    border-radius: 3px;
    transition: background 450ms;

}


.noUi-horizontal {
    height: 8px;
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    top: 2px;

}


element.style {
}

#root > div > div.main-panel.ps.ps--active-y > nav > div > div.collapse.navbar-collapse > ul > div.d-inline-block.dropdown > button {
    background-color: #fc5d50;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar .btn {
    margin: 0 5px 0 10px;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

.btn {
    cursor: pointer;
}

.dropdown-item.active, .dropdown-item:active {
    color: #ffffff;
    text-decoration: none;
    background-color: #403743;
}


.btn-danger {
    color: #aacdff;
    background-color: #605e68;
    border-color: #605e68;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}


.custom-select {
    color: white;
    border-radius: 12px;
    border-color: #403743;

}

.custom-select:focus {
    border-color: #403743;
}

.custom-select:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}






.form-control{

    border-color: #2B222E;

}



.input-group-append{

    border-color: #2B222E;

}



.input-group-text{

    border-color: #2B222E;

}


.input-group-prepend{
    border-color: #2B222E;

}

.input-group{
    background: #25212D;
    border-radius: 12px;
}
