.side-drawer {
  height: 40%;
  background: linear-gradient(#0a0001, #1e1e24);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1031;
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
}
.side-drawer.open {
  transform: translateX(0);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1030;
  top: 0;
  right: 0;
}