$primary-brown: #C7692B;
$primary-red: #A80005;
$primary-black: #0A0001;

$primary2-black: #080001;
$primary2-grey: #2F2D2D;

$accent-red: #E8402C;
$accent-magenta: #E93A6B;
$accent-purple: #65264F;

$accent2-blue: #2566F5;
$accent2-purple: #1B1BA3;

$light-white: #FFFFFF;
$light-grey: #ECEAEA;

.full-height {
    min-height: calc(100vh - 70px);
}

.bi-lg {
    font-size: 1.1em;
}