.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

page {
    display: block;
    min-height: calc(100vh - 64px);
    padding-top: 16px;
    padding-bottom: 16px;
}

@media (min-width: 576px) {
    page {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

@media (min-width: 992px) {
    page {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

container {
    display: block;
    max-width: 960px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    container {
        padding-left: 24px;
        padding-right: 24px;
    }
}