.token-badge {
  position: absolute;
  left: 28px;
  top: 18px;
}

.token-badge-tight {
  position: absolute;
  left: 23px;
  top: 12px;
}

.token-badge-share {
  position: absolute;
  left: 45px;
  top: 32px;
}

.token-badge-pair {
  position: absolute;
  left: 43px;
  top: 26px;
}

.token-badge-recent-txns {
  position: absolute;
  left: 10px;
  top: 5px;
}

.token-badge-modal-header {
  position: absolute;
  left: 27px;
  bottom: 0px;
}

// LIGHT THEME
.white-content {
  .bg-info {
    color: #ffffff;
  }
}
