.btn {
  border: none;
  color: #fff;
}

.btn-primary {
  @include btn-styles($primary, $primary-states);
}

.btn-secondary {
  @include btn-styles($secondary, $secondary-states);
  color: #000;
  &:disabled {
    color: #000;
  }
}

.btn-success {
  @include btn-styles($success, $success-states);
}

.btn-info {
  @include btn-styles($info, $info-states);
}

.btn-warning {
  @include btn-styles($warning, $warning-states);
}

.btn-danger {
  @include btn-styles($danger, $danger-states);
}

.btn-neutral {
  @include btn-styles(#25212d, #25212d);
}

.btn-dark {
  @include btn-styles($dark, $dark-states);
}

.btn-transparent {
  background: transparent;
  padding: 2px;

  &.btn:hover,
  &.btn:active,
  &.btn:focus,
  &.btn-primary:hover {
    background: transparent;
    background-color: transparent !important;
    background-image: none !important;
    box-shadow: none;
  }
}

// LIGHT THEME
.white-content {
  .btn-dark {
    @include btn-styles($light, $light-states);
    color: #000;
  }
}
