.card {
  // background-color: #1D171F;
  background-color: rgba(64, 54, 54, 0.5);
  color: #ffffff;
  border: 0;
  box-shadow: $box-shadow;
  border-radius: 12px;
  margin-bottom: 10px;
}

.card-header {
  border-bottom: 1px solid #fb2715;
  font-family: $font-family-headers;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  border-radius: 12px 12px 0 0;
}

.card-body {
  padding: 0.9rem;
}

.card-underlay {
  background-image: url('../../../img/cardunderlay.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: contain;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  font-family: $font-family-base;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
}

.card-alt {
  // background-color: #25212d;
  background-color: rgba(64, 54, 54, 0.5);
}

// WHITE MODE
.white-content {
  .card {
    background-color: #fff;
    color: #000;
  }
  .card h1,
  .card h2,
  .card h3,
  .card h4,
  .card h5,
  .card h6 {
    color: #000;
  }
  .card-alt {
    background-color: #f5f8fc;
  }
}
