.footer {
	.nav {
		display: inline-block;
		float: left;
		margin-bottom: 0;
		padding: 0;
		list-style: none;
	}

	.nav-item {
		display: inline-block;

		&:first-child a {
			padding-left: 0;
		}
	}

	.nav-link {
		color: $white;
		padding: $padding-base-vertical;
		font-size: $font-size-sm;
		text-transform: uppercase;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}
}