.input-group-text {
  background-color: #403a4b;
  border-color: #1d171f;
  color: #fff;
  padding: 0.25rem 0.5rem;
}

.form-control {
  background-color: #403a4b;
  border-color: #1d171f;
  color: #fff;

  &:focus {
    background-color: #25212d;
    color: #fff;
    border-color: #1d171f;
  }

  &:disabled {
    background-color: #403a4b;
    color: #a5adaf;
    border-color: #1d171f;
  }
}

.input-group-text:first-child {
  border-right: none;
}

.input-group-text:last-child {
  border-left: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

// WHITE MODE
.white-content {
  .input-group-text {
    background-color: #f5f8fc;
    border-color: #605e68;
  }

  .form-control {
    background-color: #f5f8fc;
    border-color: #605e68;
    color: #000;

    &:focus {
      background-color: #a5adaf;
      border-color: #605e68;
      color: #000;
    }
  }
}
