.loading {
    position: absolute;
    left: 45%;
    top: 15%;
    img {
        width: 200px;
        animation: sizing 5s infinite;
    }
}

@keyframes sizing {
    0% {
        width: 300px;
    }
    50% {
        width: 400px;
    }
    100% {
        width: 300px;
    }
}
