/* Animations */
.nav-pills .nav-link,
.navbar,
.nav-tabs .nav-link,
.sidebar .nav a,
.sidebar .nav a i,
.sidebar .nav p,
.navbar-collapse .navbar-nav .nav-link,
.animation-transition-general,
.tag,
.tag [data-role='remove'],
.animation-transition-general {
  @include transitions($general-transition-time, $transition-ease);
}

.bootstrap-switch-label:before,
.caret {
  @include transitions($fast-transition-time, $transition-ease);
}

.dropdown-toggle[aria-expanded='true']:after,
[data-toggle='collapse'][aria-expanded='true'] .caret,
.card-collapse .card [data-toggle='collapse'][aria-expanded='true'] i,
.card-collapse .card [data-toggle='collapse'].expanded i {
  @include rotate-180();
}

@media only screen and (max-width: 400px) {
  .tab-content {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.zoomhover:hover {
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari 3-8 */
  transform: scale(1.15);
}

.zoomactive:active {
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari 3-8 */
  transform: scale(1.15);
}