.modal-content {
  background-color: #1d171f;
}

.modal-header {
  background-color: #25212d;
  border-bottom: 1px solid #1a1a1a;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.modal-body {
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
  color: #FFFFFF;
}

