.modal-content {
  background-color: #1d171f;
  max-height: 95vh;
  overflow: scroll;
}

.modal-content::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}

.modal-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: #970303;
  outline: 1px solid #1d171f;
  border-radius: 50px;
}

.modal-header {
  background-color: #25212d;
  border-bottom: 1px solid #fb2715;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.modal-body {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.modal-body::-webkit-scrollbar {
  width: 4px;
}

.modal-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #970303;
  outline: 1px solid #1d171f;
}

.modal-footer {
  background-color: #25212d;
  border-top: 1px solid #fb2715;
}

// LIGHT MODE
.white-content {
  .modal-content {
    background-color: #ffffff;
  }

  .modal-header {
    background-color: #f5f8fc;
    color: #000000;
  }

  .modal-body {
    color: #000000;
  }

  .modal-footer {
    background-color: #f5f8fc;
  }
}
