.modal-content {
  background-color: #1d171f;
}

.modal-header {
  background-color: #25212d;
  border-bottom: 1px solid #fb2715;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.modal-body {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.modal-footer {
  background-color: #25212d;
  border-top: 1px solid #fb2715;
}

// LIGHT MODE
.white-content {
  .modal-content {
    background-color: #ffffff;
  }

  .modal-header {
    background-color: #F5F8FC;
    color: #000000;
  }

  .modal-body {
    color: #000000;
  }

  .modal-footer {
    background-color: #F5F8FC;
  }
}
