.navbar {
  background: $navbar-color;

  &.navbar-transparent {
    background: transparent !important;
  }

  .navbar-brand {
    font-family: $font-family-alt;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
  }
}

.notification {
  background: $danger;
  color: $white;
  border-radius: $border-radius-xl;
  height: 6px;
  width: 6px;
  position: absolute;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  top: 10px;
  right: 10px;
  border: 1px solid $danger;
}

.white-content {
  .navbar-nav {
    p,
    a.nav-link {
      color: $black !important;
    }
  }

  .navbar-brand {
    color: $black;
  }
}

.header {
  height: 67px; 
  margin-bottom:0;
  border-top: 2px solid #fb2715;
}

.footer {
  height: 67px; 
}