.nav-item {
  background: #1d171f;
  
  .nav-link {
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #aacdff;
    
    &.active {
      background-color: #1d171f;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-align: center;

      color: #ffffff;

      border-bottom: 1px solid #fb2715;
      border-radius: 1px;
    }
  }
}

.nav-tabs {
  border-bottom: 1px solid #1a1a1a;
}