.nav-item {
  background: #1d171f;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;

  .nav-link {
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;

    &.active {
      background-color: #1d171f;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
      border-bottom: 1px solid #fb2715;
    }

    &:hover, &:focus {
      box-shadow: 2px 2px 6px #00000066;
      transform: translateY(-1px);
      -webkit-transform: translateY(-1px);
    }
  }
}

.nav-tabs {
  border-bottom: none;
}

.flex-column {
  .nav-item {
    .nav-link {
      text-align: left;
      padding-left: 14px;
    
      &.active {
        background-color: #25212D;
        border-left: 2px solid #fb2715;
        border-bottom: none;
      }
    }
  }
}

// LIGHT MODE
.white-content {
  .nav-item {
    background: #ffffff;

    .nav-link {
      color: #b70000;

      &.active {
        background-color: #ffffff;
        color: #000000;
      }
    }
  }

  .flex-column {
    .nav-item {
      .nav-link {
        &.active {
          background-color: #F5F8FC;
        }
      }
    }
  }
}
