.popover {
  background: #1d171f;
  border: $popover-border-width solid $popover-border-color;
}

.popover-header {
  // General
  background-color: #25212d;
  border-bottom: 1px solid #1a1a1a;
  // Type
  font: $font-family-headers;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.popover-body,
a {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}

.popover-text {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.amount-popover {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

// Alternative colors
@each $color, $value in $theme-colors {
  .popover-#{$color} {
    @include popover-variant($value);
  }
}
