body {
  color: #FFF;
}

iframe {
  border: 0;
}

figcaption,
figure,
main {
  display: block;
}

main {
  overflow: hidden;
}

label {
  color: #fff;
}

// WHITE MODE
body.white-content {
  color: #000;
}

.white-content {
  label {
    color: #000;
  }
}
