.table {
  > tbody > tr > td {
    color: rgba(255, 255, 255, 0.7);
  }

  > tbody > tr.table-success > td {
    background-color: darken($success, 10%);
  }

  > tbody > tr.table-info > td {
    background-color: $info;
  }

  > tbody > tr.table-primary > td {
    background-color: $primary;
  }

  > tbody > tr.table-warning > td {
    background-color: $warning;
  }
  > tbody > tr.table-danger > td {
    background-color: $danger;
  }
}

.table-striped {
  > tbody > tr:nth-of-type(odd) {
    --bs-table-accent-bg: #222629;
  }
}

// WHITE MODE
.white-content {
  .table {
    background-color: #f5f8fc;
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);

    > tbody > tr > td {
      color: #000;
    }
  }
  .table-striped {
    > tbody > tr:nth-of-type(odd) {
      --bs-table-accent-bg: rgb(241, 241, 241);
    }
  }
}
