h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: $headings-line-height;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $font-family-base;
}

.card {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-base;
    color: $opacity-8;
    font-weight: $font-weight-extra-bold;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  color: $opacity-8;
}

accentcurrency {
  display: block;
  font-family: $font-family-base !important;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 32px;
  color: #aacdff;
  text-transform: uppercase;
  margin-top: -40px;
  margin-left: 96px;
}

accentstatus {
  display: block;
  font-family: $font-family-base !important;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 32px;
  color: #aacdff;
  text-transform: uppercase;
  margin-top: -40px;
  margin-left: 190px;
}

accent {
  font-family: $font-family-base !important;
  font-style: normal;
  font-size: 12px;
  line-height: 32px;
  color: #aacdff;
}

.header-title {
  font-family: $font-family-alt;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}

breadcrum {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: $font-family-alt;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 20px;
  color: #ffffff;
}

a {
  color: $primary-states;
  font-weight: $font-weight-light;

  &:hover,
  &:focus {
    color: $primary;
  }
}

h1,
.h1 {
  line-height: 1.05;
  margin-bottom: $margin-base-vertical * 2;

  small {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    opacity: 0.8;
  }
}

h2,
.h2 {
  margin-bottom: $margin-base-vertical * 2;
  line-height: 1.2;
}

h3,
.h3 {
  margin-bottom: $margin-base-vertical * 2;
  line-height: 1.4em;
}

h4,
.h4 {
  line-height: 1.45em;

  & + .category,
  &.title + .category {
    margin-top: -10px;
  }
}

h5,
.h5 {
  line-height: 1.4em;
  margin-bottom: 15px;
}

h6,
.h6 {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}

p {
  color: $opacity-8;
  margin-bottom: 5px;

  &.description {
    font-size: 1.14em;
  }
}

.title {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;

  &.title-up {
    text-transform: uppercase;

    a {
      color: $black;
      text-decoration: none;
    }
  }

  & + .category {
    margin-top: -10px;
  }
}

.description,
.card-description,
.footer-big p,
.card .footer .stats {
  color: $dark-gray;
  font-weight: $font-weight-light;
}

.category,
.card-category {
  text-transform: capitalize;
  font-weight: $font-weight-normal;
  color: rgba($white, 0.6);
  font-size: $font-size-sm;
}

.card-category {
  font-size: $font-size-sm;
}

.blockquote {
  border-left: none;
  border: 1px solid $default;
  padding: 20px;
  font-size: $blockquote-font-size;
  line-height: 1.8;

  small {
    color: $default;
    font-size: $font-size-sm;
    text-transform: uppercase;
  }

  &.blockquote-primary {
    border-color: $primary;
    color: $primary;

    small {
      color: $primary;
    }
  }

  &.blockquote-danger {
    border-color: $danger;
    color: $danger;

    small {
      color: $danger;
    }
  }

  &.blockquote-white {
    border-color: $opacity-8;
    color: $white;

    small {
      color: $opacity-8;
    }
  }
}

ul li,
ol li {
  color: $white;
}

pre {
  color: $opacity-8;
}

hr {
  border-top: 1px solid #fb2715;
  margin-top: $spacer;
  margin-bottom: $spacer;
}

.amount {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  &.title-up {
    text-transform: uppercase;

    a {
      color: $black;
      text-decoration: none;
    }
  }

  & + .category {
    margin-top: -10px;
  }
}

.page-header {
  font-family: Kreon;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
}

.text-footer {
  font-family: Kreon;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #f5f8fc;
}

.text-muted {
  font-family: $font-family-base !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #c0daff;
}

.subtitle-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.title-card {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #a5adaf;
}

.text-card {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #a5adaf;
}

.text-xs-label {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  color: #a5adaf;
}

.text-sm-label-alt {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  color: #aacdff;
}

.text-sm-label {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  color: #a5adaf;
}

.text-sm-label-wht {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  color: #fff;
}

.output-card {
  font-family: $font-family-base;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
}

.subtitle-card {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.subtitle-amount {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #aacdff;
}

.accent {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 32px;
  margin-top: 40px;
  text-align: right;
  color: #aacdff;
}

// WHITE MODE
.white-content {
  .card-body {
    color: #000;
  }
}
