.white-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol li,
  ul li,
  pre {
    color: $black-states;
  }

  .bg-dark {
    color: white;
  }

  .output-card {
    color: $black-states;
  }

  .subtitle-card {
    color: $black-states;
  }

  .output-wallet-description {
    color: $black-states;
  }

  .text-light {
    color: $black-states;
  }

  .popover-body {
    background-color: $white;
  }

  .popover-text {
    color: $black-states;
  }

  .popover {
    background-color: $white;
  }

  .title {
    color: $black-states;
  }

  .text-card {
    color: $black-states;
  }

  .text-left {
    color: $black-states;
  }

  .text-footer {
    color: $black-states;
  }

  span {
    color: $black-states;
  }

  // handle dark/white mode logos on /friends page
  .friend-logo-dark {
    display: none;
  }
  .friend-logo-white {
    display: initial;
  }
}
