$bg-depth-0: #CBD5DF;
$bg-depth-1: #E2E8F0;
$bg-depth-2: #F7FAFB;
$bg-depth-3: #FEFEFE;
$bg-depth-4: #f8f5f5;

$bg-depth-0-dark: #1A202C;
$bg-depth-1-dark: #2D3848;
$bg-depth-2-dark: #3A4556;
$bg-depth-3-dark: #4A5568;
$bg-depth-4-dark: #505f66;