@import './variables.scss';
@import './bootstrap/index.scss';
@import './utils.scss';

html {
  font-size: 13px;
}

body
  > iframe[style*='2147483647']:not([id='webpack-dev-server-client-overlay']) {
  display: none;
}

body {
  overflow: hidden;
  font-family: 'Saira';
  background-color: $bg-depth-2;
  color: $text;
}

a {
  color: $text;
  text-decoration: none;
}

.bg-0 {
  background-color: $bg-depth-0;
}

.bg-1 {
  background-color: $bg-depth-1;
}

.bg-2 {
  background-color: $bg-depth-2;
}

.header-btn {
  align-self: center;
  border-radius: 5px;
}

#PopoverClick {
  border: solid 1px #2d3848;
  border-radius: 10px;
  padding: 3px 7px;
  font-weight: 500;
}

.token-badge {
  position: absolute;
  left: 31;
  bottom: 2;
}

@media only screen and (max-width: 321px) {
  .hide-i5 {
    display: none;
  }
}

// ------------- DARK THEME ------------- //

body.dark-theme {
  background-color: $bg-depth-0-dark;
  color: $text-dark;

  a {
    color: $text-dark;
  }

  .bg-0 {
    background-color: $bg-depth-0-dark;
  }

  .bg-1 {
    background-color: $bg-depth-1-dark;
  }

  .bg-2 {
    background-color: $bg-depth-2-dark;
  }
}
