@import './variables.scss';
@import './bootstrap/index.scss';
@import './utils.scss';

body {
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

html {
  font-size: 13px;
}

body
  > iframe[style*='2147483647']:not([id='webpack-dev-server-client-overlay']) {
  display: none;
}

body {
  overflow: hidden;
  font-family: 'Saira';
  background-color: $bg-depth-2;
  color: $text;
  font-weight: 500;
}

a {
  color: $text;
  text-decoration: none;
}

.body {
  grid-area: body;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 160px;
  border-top-left-radius: 1.5rem;
  box-shadow: inset $shadow;
  background-color: $bg-depth-0;
}

@media only screen and (max-width: 1023px) {
  .body {
    border-top-left-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .body {
    border-top-left-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
}

.bg-0 {
  background-color: $bg-depth-0;
}

.bg-1 {
  background-color: $bg-depth-1;
}

.bg-2 {
  background-color: $bg-depth-2;
}

.shadow {
  box-shadow: $shadow;
}

.shadow-inner {
  box-shadow: inset $shadow;
}

.scroll-shadows {
  background:
    /* Shadow Cover TOP */ linear-gradient(
        white 30%,
        rgba(255, 255, 255, 0)
      )
      center top,
    /* Shadow Cover BOTTOM */ linear-gradient(rgba(255, 255, 255, 0), white 70%)
      center bottom,
    /* Shadow TOP */
      radial-gradient(
        farthest-side at 50% 0,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      center top,
    /* Shadow BOTTOM */
      radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      center bottom;

  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}

.token-badge {
  position: absolute;
  left: 31;
  bottom: 2;
}

.token-badge-tight {
  position: absolute;
  left: 22;
  top: 12;
}

.token-badge-tighter {
  position: absolute;
  left: 12;
  top: 12;
}

.token-badge-share {
  position: absolute;
  left: 40;
  top: 29;
}

.iconSeparator {
  height: 2px;
}

.iconOnTop {
  bottom: 13px;
  z-index: 1000;
}

.orderDesc .down {
  fill: black;
}

.orderAsc .up {
  fill: black;
}

@media only screen and (max-width: 321px) {
  .hide-i5 {
    display: none;
  }
}

// ------------- DARK THEME ------------- //

body.dark-theme {
  background-color: $bg-depth-2-dark;
  color: $text-dark;

  a {
    color: $text-dark;
  }
  .toast-link:hover {
    color: $link-hover-dark;
  }

  .toast-header {
    color: $text-dark;
  }

  .body {
    box-shadow: inset $shadow-dark;
    background-color: $bg-depth-0-dark;
  }

  .bg-0 {
    background-color: $bg-depth-0-dark;
  }

  .bg-1 {
    background-color: $bg-depth-1-dark;
  }

  .bg-2 {
    background-color: $bg-depth-2-dark;
  }

  .shadow {
    box-shadow: $shadow-dark;
  }

  .shadow-inner {
    box-shadow: inset $shadow-dark;
  }

  .scroll-shadows {
    background:
      /* Shadow Cover TOP */ linear-gradient(
          #1c1c2a 30%,
          rgba(255, 255, 255, 0)
        )
        center top,
      /* Shadow Cover BOTTOM */
        linear-gradient(rgba(255, 255, 255, 0), #1c1c2a 70%) center bottom,
      /* Shadow TOP */
        radial-gradient(
          farthest-side at 50% 0,
          rgba(255, 255, 255, 0.2),
          rgba(0, 0, 0, 0)
        )
        center top,
      /* Shadow BOTTOM */
        radial-gradient(
          farthest-side at 50% 100%,
          rgba(255, 255, 255, 0.2),
          rgba(0, 0, 0, 0)
        )
        center bottom;

    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
  }

  .orderDesc .down {
    fill: white;
  }
  
  .orderAsc .up {
    fill: white;
  }
}
