// Visibility helpers

.hide-if-siblings:not(:only-child) {
  display: none;
}

.hide-if-prior-sibling:not(:first-child) {
  display: none;
}

.hide-if-sibling-after:not(:last-child) {
  display: none;
}

// Animations
.anim-spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// theme
.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  color: #FFF;
}

.bg-progress {
  background-color: #c2c2c2 !important;
}

body.dark-theme {
  .bg-primary, .bg-progress {
    background-color: $primary-dark !important;
  }
}

.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.gap-16 {
  gap: 16px;
}
.gap-8 {
  gap: 8px;
}
.gap-4 {
  gap: 4px;
}
.ml-4 {
  margin-left: 4px;
}