$bg-depth-0: #cbd5df;
$bg-depth-1: #e2e8f0;
$bg-depth-2: #f7fafb;
$bg-depth-3: #fefefe;
$bg-depth-4: #f8f5f5;

$bg-depth-0-dark: #1a202c;
$bg-depth-1-dark: #2d3848;
$bg-depth-2-dark: #3a4556;
$bg-depth-3-dark: #4a5568;
$bg-depth-4-dark: #505f66;

$theme-switcher-height: 27px;

$text: rgb(15, 15, 15);
$text-dark: rgb(236, 236, 236);