// Contextual backgrounds
@mixin bg-variant($parent, $color, $ignore-warning: true) {
  #{$parent} {
    background-color: $color !important;
  }
}

@mixin bg-gradient-variant($parent, $color, $ignore-warning: true) {
  #{$parent} {
    background: linear-gradient(
      87deg,
      $color 0,
      adjust-hue($color, 25%) 100%
    ) !important;
  }
}
