$button-height: 40px;

.wallet-modal-button {
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.wallet-modal-button h5 {
    margin-bottom: 0;
    line-height: $button-height;
}

.wallet-modal-icon {
    height: $button-height;
}

.modal-body {
    margin-left: auto;
    margin-right: auto;
}